html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    vertical-align: baseline;
}

a {
    color: #7e8c8d;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
}

*{box-sizing: border-box;}

li {
    list-style: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}
input:focus,button:focus{ outline: none;}

.clearfix{display: inline-block;}
.clearfix::after{content: ".";  display: block;  height: 0;  line-height: 0;  visibility: hidden;  clear: both;}

.border-1px(@color){
    position: relative;
    &::after{
        content: ""; position: absolute; width: 100%; border-top: 1px solid @color; left: 0; right: 0; bottom: 0;
    }
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?esmrbv');
  src:  url('../fonts/icomoon.eot?esmrbv#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?esmrbv') format('truetype'),
    url('../fonts/icomoon.woff?esmrbv') format('woff'),
    url('../fonts/icomoon.svg?esmrbv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e900";
}
.icon-github:before {
  content: "\e901";
}
.icon-password:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e903";
}
.icon-weibo:before {
  content: "\e904";
}
.icon-weix:before {
  content: "\e905";
}
.icon-email:before {
  content: "\e906";
}


body{ overflow: hidden;}
@black:#2b2e2f;
@red:#f73668;
@white:#FFFFFF;
.lineBG(@val){
    background: linear-gradient(@val);
}
.radialBG(@val){
    background: radial-gradient(@val);
}


//登录界面
.login-body{ 
    background: @black url(../images/noise.png); position: fixed; top: 0; right: 0; bottom: 0; left: 0; background-repeat: repeat;  background-attachment: fixed;
    }
.login-wrap{ position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 260px;}
.login-row{ position: relative; height: 35px; box-sizing: content-box; margin-bottom: 10px;  font-size: 12px; color: fade(@white,90%); 
    i{ position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
    input{ height: 100%; width: 100%; background: transparent; border-bottom: 1px solid rgba(255,255,255,.4); text-indent: 30px; color: @white;}
    ::-webkit-input-placeholder{
        color:fade(@white,90%);
    }
}
.login-btn{ height: 44px; width: 100%; border-radius: 44px; background: @red; border: 0; color: @white; cursor: pointer; margin: 30px auto; display: block; text-align: center; transition:all .3s ease-in;
    &:hover{ box-shadow: 0 5px 5px rgba(0,0,0,.3); transform: translateY(-5px);}
    &:active{ background:fade(@red , 80%);}
}
.login-anime{ opacity: 0;}
.back{ position: absolute; top: 30px; left: 100px; color: @white; cursor: pointer; font-size: 24px; opacity: 0;}



@green:#00f281;
//首页界面
.index-body{ 
    @val:180deg,#3d464b,#697a81;
    .lineBG(@val);
    width: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; 
    .index-wrap{
        width: 960px; height: 300px; background: #ccc; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
        .index-menu{
            position: absolute; top: -100px; right: 0; width: 100%; height: 50px; text-align: right; font-size: 28px;
            a{
                position: relative; margin-left:30px ;
                i:nth-of-type(1){ color: @green;}
                i:nth-last-of-type(1){
                    position: absolute; z-index: -1; left: 10px; top: 5px;
                    color: transparent;
                    text-shadow: 0 0 5px #39444a;
                    transition: text-shadow 2s cubic-bezier(0, 1, 0, 1);
                }
            }
        }
        .shadow{
            @val:#3d464b,#697a81;
            .radialBG(@val);
            position: absolute; bottom: -100px; left: 0; width: 100%; height: 50px; border-radius: 50%; opacity: .7;
        }
        .index-content{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            height: 300px;
            .banner{ width: 500px; height: 300px; background: #999;}
            .Photo{ width: 185px; height: 185px; background: #777;}
            .blog{ width: 185px; height: 115px; background: #666;}
            .music{ width: 275px; height: 100px; background: #1a2224;}
            .msg{ width: 275px; height: 200px; background: #444;}
        }
    }
}


//fade动画
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to{
  opacity: 0
}
//left动画
.left-enter{
    transform: translateX(100%);
}
.left-enter-active,.left-leave-active{
    transition: .5s;
}
.left-leave-to{
    transform: translateX(-100%);
}
//right动画
.right-enter{
    transform: translateX(-100%);
}
.right-enter-active,.right-leave-active{
    transition: .5s;
}
.right-leave-to{
    transform: translateX(100%);
}
