html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    vertical-align: baseline;
}

a {
    color: #7e8c8d;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
}

*{box-sizing: border-box;}

li {
    list-style: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}
input:focus,button:focus,textarea:focus{ outline: none;}


.clearfix{display: inline-block;}
.clearfix::after{content: ".";  display: block;  height: 0;  line-height: 0;  visibility: hidden;  clear: both;}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ndypey');
  src:  url('../fonts/icomoon.eot?ndypey#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?ndypey') format('truetype'),
  url('../fonts/icomoon.woff?ndypey') format('woff'),
  url('../fonts/icomoon.svg?ndypey#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e910";
}
.icon-exit:before {
  content: "\e90f";
}
.icon-trash:before {
  content: "\e90e";
}
.icon-cover:before {
  content: "\e90d";
}
.icon-audio:before {
  content: "\e900";
}
.icon-back:before {
  content: "\e901";
}
.icon-blog:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-email:before {
  content: "\e904";
}
.icon-github:before {
  content: "\e905";
}
.icon-look:before {
  content: "\e906";
}
.icon-more:before {
  content: "\e907";
}
.icon-msg:before {
  content: "\e908";
}
.icon-password:before {
  content: "\e909";
}
.icon-user:before {
  content: "\e90a";
}
.icon-weibo:before {
  content: "\e90b";
}
.icon-weix:before {
  content: "\e90c";
}



@black:#2b2e2f;
@white:#FFFFFF;
.lineBG(@val){
    background: linear-gradient(@val);
}
.radialBG(@val){
    background: radial-gradient(@val);
}
.border-1px(@color){
    position: relative;
    &::after{
        content: ""; position: absolute; width: 100%; border-top: 1px solid @color; left: 0; right: 0; bottom: 0;
    }
}

/**
* public
**/
.flex{ display: flex;}
.submit{
  border: 1px solid #eee; background: transparent; padding: 6px 12px; border-radius: 3px; color: #eee;
  &.active{ border-color: @minColor; color: @minColor; cursor: pointer;}
}


//登录界面
.login-body{
    background:#FFF; position: fixed; top: 0; right: 0; bottom: 0; left: 0; background-repeat: repeat;  background-attachment: fixed;}
.login-wrap{ position: absolute; top: 50%; left: 50%; transform: translate(-50%,-80%); width: 260px;}
.login-logo{ text-align: center; font-size: 100px; color: @minColor;}
.login-row{ position: relative; height: 35px; box-sizing: content-box; margin-bottom: 10px;  font-size: 12px; color: fade(@black,90%);
    i{ position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
    input{ height: 100%; width: 100%; background: transparent; border-bottom: 1px solid rgba(0,0,0,.1); text-indent: 30px; color: @black;}
    ::-webkit-input-placeholder{
        color:fade(@black,90%);
    }
    input:-webkit-autofill {
      -webkit-box-shadow : 0 0 0 1000px white inset;
    }
}
.login-btn{ height: 44px; width: 100%; border-radius: 44px; background: @minColor; border: 0; color: @white; cursor: pointer; margin: 30px auto; display: block; text-align: center; transition:all .3s ease-in;
    &:active{ background:fade(@minColor , 80%);}
}
.login-anime{ opacity: 0;}
.back{ position: absolute; top: 30px; left: 100px; color: @black; cursor: pointer; font-size: 24px; opacity: 0;}



@minColor:#3695ff;
.wrap{ width: 900px; margin-left: auto; margin-right: auto;}
/*首页界面*/
//头部
.index{ background: #FFF; min-height: 100vh; padding-bottom: 40px; padding-top: 53px;}
.index a:hover{ color: @minColor;}
.header{ height: 53px; border-bottom: 1px solid #ddd; box-shadow: 0 1px 3px 0 rgba(0,34,77,.05); line-height: 53px; background: #FFF; position: fixed; top: 0; left: 0; width: 100%; z-index: 2;
    .logo{ font-size: 60px;
        a{color: @minColor;}
    }
    nav{ flex: 1;
        li{ margin-left: 30px; font-size: 15px;
            &>.router-link-active{ color: @minColor;}
        }
    }
    .app{ flex-basis: 220px; text-align: right;
        a{ font-size: 22px; margin-left: 20px;}
    }
}

//博客页面
.blog-list{
    position: relative;
    .loading{ display: flex; justify-content: center; margin-top: 20px}
    .back-top{ position: fixed; right:50%; margin-right:-500px; bottom:40px; width: 40px; height: 40px; border:1px solid #eee; cursor: pointer; color: #999; text-align: center;
      line-height: 40px; font-size:12px;}
}
.blog-item{
    padding: 16px 20px; margin-top: 10px; background: #fff; overflow: hidden; box-sizing: border-box; max-height: 400px;
    .source{ color: #8590a6; display: block;}
    .blog-title{
         margin: 14px 0;
        a{font-size: 18px; font-weight: 700; color: #1e1e1e;}
    }
    .blog-description{ display: flex;
        .blog-img{ flex-basis:190px; height: 105px; background-size:cover; cursor: pointer; background-position: center; background-color:#eee; border-radius: 4px; margin-right: 18px;}
        .blog-text{ flex: 1; line-height: 1.67; cursor: pointer; color:#333;
            &:hover{ opacity: .9;}
        }
    }
    .blog-handle{ display: flex; margin-top: 15px; justify-content: space-between;
        .blog-date{ font-size: 12px; color: #999;}
    }
}
//博客详情
.detail-wrap{ position: fixed; top:0; left: 0; bottom: 0; right: 0; background: #FFF; z-index: 2; overflow: auto;
    .loading-wrap{
        position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
    }
}
.detail-body{ width: 660px; margin: 0 auto; padding-top: 80px; padding-bottom: 100px; position: relative;
    .close{ position: absolute; top: 20px; font-size: 32px; right: 0; color: #999; cursor: pointer;}
}
.detail-img{ width: 660px; height: 330px; background-size:cover; margin-bottom: 22px;     background-position: center;}
.detail-title{ font-size: 32px; line-height: 1.3;  font-weight: 700; color: #1E1E1E;}
.detail-author{
    display: flex; align-items: center; color:#808080; font-size: 12px; margin-top:22px;
    img{ width: 36px; height: 36px; margin-right: 12px; border-radius: 100%;}
}
.detail-article{ margin: 30px 0;  word-break: break-word;  white-space: normal; line-height: 1.7; white-space:pre-wrap;
  img{ max-width: 100%}
}
.detail-msg{
    display: flex; margin-top: 40px;
    dt{ width: 36px; height: 36px; flex-basis: 36px; margin-right: 12px;
        img{ width: 100%;  border-radius: 100%;}
    }
    dd{
        flex: 1;
        input,textarea{ width: 100%; border: 1px solid #f0f0f0; padding: 8px 10px; margin-bottom: 10px; border-radius: 3px;
            &:focus{ border-color: @minColor;}
        }
        textarea{resize: none;}
        .detail-btn{
            text-align: right;

        }
    }
}
.detail-look{
  width: 60px; height: 60px; margin: 0 auto; display: flex; justify-content: center; align-items: center; flex-direction: column;
  p{ font-size: 12px}
  span{ font-size: 32px}
}
.detail-msg-list{
    dl{
        display: flex; margin-top: 40px;
        dt{ width: 36px; height: 36px; flex-basis: 36px; margin-right: 12px;
            img{ width: 100%;  border-radius: 100%;}
        }
        dd{
           flex: 1;
           b{ font-weight: 700; font-size: 14px;}
           p{ font-size: 14px;}
           span{ color: #999; font-size: 12px; font-family: arial; float: right;}
        }
    }
}


//关于页面
.about-page{ width: 660px; margin: 0 auto;}
.column-about{ text-align: center; width: 100%; display: flex; flex-direction: column; align-items: center; margin-top: 60px;}
.author-photo{ width: 100px; height: 100px; border-radius: 100%; background-size:cover ; margin-bottom: 14px;}
.author-name{ font-size: 20px; line-height: 28px;     text-rendering: optimizeLegibility; color: #333; margin-bottom: 14px;}
.author-app{ font-size: 22px; color: gray; margin-bottom: 10px;
    span{ margin: 0 5px;}
}
.author-label{
    span{ display: inline-block; height: 30px; line-height: 30px; font-size: 14px;
padding: 0 15px; border-radius: 15px;  border: 1px solid rgba(0,0,0,.1); color: gray;
 margin: 8px;
    }
}
.column-title{ position: relative; margin-top: 60px;
    span{ position: relative; z-index: 2; background: #FFF; padding-right: 20px;}
    i{
        width: 100%; display: block;
        .border-1px(#f0f0f0);
         position: absolute; top: 50%; left: 0; z-index: 1;
    }
}
.course{
    dl{
        display: flex; margin-top: 35px;
        dt{ display: flex; flex-direction:column;  flex-basis: 80px; font-size: 12px;
            i{ width: 1px; height: 20px; background: #ccc; margin: 10px 0; display: block;}
        }
        dd{ flex: 1;
            b{ font-size: 20px; font-weight:700; margin-bottom: 10px; display: block;}
            p{ font-size: 15px;}
        }
    }
}


//摄影页面
.photo{ padding: 40px 75px; background: #f9f9f9;
  .photo-list{
    display: flex; flex-wrap: wrap;
    li{
      padding: 10px;
      .post-photo{
        height: 335px; position: relative;  cursor: pointer;
        img{ height: 100%}
        &:after{
          content: ""; position: absolute; top:0; right: 0; left: 0; bottom: 0; transition: all .4s;
        }
        .photo-info{ position: absolute; top:20px; left: 20px;color: #FFF; opacity: 0; transition: all .4s; z-index: 1;
          span:nth-child(1){ font-size: 16px; margin-right: 10px;}
          span:nth-child(2){ font-size: 12px;}
        }
        &:hover{
          &:after{
            background: rgba(0,0,0,.5);
          }
          .photo-info{ opacity: 1}
        }
      }
    }
  }
}




//fade动画
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s
}
.fade-enter, .fade-leave-to{
  opacity: 0
}
//left动画
.left-enter{
    transform: translateX(100%);
}
.left-enter-active,.left-leave-active{
    transition: .5s;
}
.left-leave-to{
    transform: translateX(-100%);
}
//right动画
.right-enter{
    transform: translateX(-100%);
}
.right-enter-active,.right-leave-active{
    transition: .5s;
}
.right-leave-to{
    transform: translateX(100%);
}




/**
* admin
**/
.admin{
  padding-top: 59px;

  .bar{ position: fixed; right:20px; top:20px; display:flex;
    z-index:3;
    .more{
      margin-left: 20px; position: relative;
      i{ font-size: 14px; color: #666}
      .menu{ cursor: pointer}
      .menu-list{
        opacity: 0; transition: all .3s;
        &.active{
          opacity: 1; transform: translateY(-5px);
        }
        &:before{ content: "";
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-bottom: 10px solid white;
          position: absolute;
          top:-10px; right: 16px;
          z-index:1;
        }
        &:after{ content: "";
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 10px solid rgba(0,0,0,.08);
          position: absolute;
          top:-11px; right: 14px;
        }
        position: absolute; border: 1px solid rgba(0,0,0,.08); padding:5px 15px; width: 120px; right: 0; border-radius: 5px; background-color:#FFF ; box-shadow: 0 0 5px rgba(0,0,0,.08); top:43px;
        li{ line-height: 30px; cursor: pointer; font-size: 14px;
          &:hover{ color: @minColor}
        }
      }

    }
  }

  .header{ height:59px; border-bottom: 1px solid rgba(0,0,0,.08); position: relative; position: fixed;
    &>div{ justify-content: space-between}
    h4{ font-weight: 600;
      small{ color: #999; margin-left: 10px;}
    }
  }
  .wrap{ width: 660px;}
  .edit-detail{
    .detail-title{ font-size: 26px;
      &::-webkit-input-placeholder{
        color: #9e9e9e;opacity:1;
      }
    }
  }

  .edit-title-wrap{ display: flex; align-items: flex-end}
  .input-title{ flex:1;}
  .select-type{ flex-basis: 100px;
    select{ width: 100%; height: 34px;}
  }

  .photo{
    margin: 30px 0; position: relative;  min-height: 192px;
    .no-cover-wrap{
      background-color: #f7f8f9;  line-height: 192px; color: #808080; text-align: center;
      &:before{ content: "添加照片"; color: #b3b3b3;  position: absolute; width: 100%; text-align: center; left: 0; bottom: 65px; line-height: 1; opacity: 0; z-index: 0; transform: translateY(12px); transition: all .2s;
      }
      &:hover:before{
        opacity: 1;
        transform: translateY(0);
      }
      i{ font-size: 36px; opacity: .3}
      .cover-upload { position: absolute; display: block; top: 0;  left: 0;  height: 100%;  width: 100%;  opacity: 0; cursor: pointer; z-index: 2;}
    }
    .yes-cover-wrap{
      height: 192px; position: relative; overflow: hidden;
      img{ width: 100%; position: absolute; top:50%; transform:translateY(-50%) }
      .edit-img{ position: absolute; bottom: 10px; right: 10px; padding: 5px; cursor: pointer; font-size: 20px; color:#FFF;
        z-index:1;}
    }

  }
  .editor-container{ margin-top: 20px}
  .ql-toolbar.ql-snow{ border-left:none; border-right:none; border-bottom:none; }
  .ql-container.ql-snow{ border:none;}
  .ql-editor{ padding-left: 0; padding-right: 0}



  .photo-row{
    margin-top: 20px;
    input,textarea{
      border: 1px solid #eee; width: 100%; padding: 5px 10px; resize: none;
      &:focus{
        border-color: @minColor ;
      }
    }
    input{ height: 30px;}

    p{ margin-bottom: 5px}
  }
  .file-list{
    li{ width: 150px; height: 150px;  display: flex; justify-content: center; align-items: center;  padding: 10px; border: 1px solid #eee; float: left; margin-right: 20px; margin-bottom: 20px; position: relative; z-index: 3;
      &:nth-child(4n){ margin-right: 0}
      img{max-width: 100%;}
      .progress{
        position: absolute; top: 60px; left: 10px; background:@minColor; padding: 10px; height: 33px;
        .progress-wrap{
          width: 108px;height: 14px;padding: 1px;border: 1px solid #FFF;
          span{ background: rgb(255, 255, 255); display: block; width: 0%; height: 10px; transition: width .3s;
            &.active{
              width: 100%;
            }
          }
        }
      }
    }
    li.add-img{  font-size: 60px; text-align: center; line-height: 150px; color: #eee; background: #FFF; cursor: pointer}
  }
}
