.blog-view {
  height: 100vh;
  box-sizing: border-box;

  .back {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;

    &:hover {
      .line {
        clip-path: inset(100vh 0 0 0);
      }
    }

    .line {
      transition: 0.6s ease-in-out;
      clip-path: inset(0 0 0 0);
      width: 1px;
      height: 30px;
      background: var(--textColor);
    }

    .text {
      font-size: 12px;
      margin-top: 20px;
    }

    @keyframes pulseDot {
      0% {
        transform: scale(1);
        opacity: 0.48;
      }

      100% {
        transform: scale(5);
        opacity: 0;
      }
    }

    .dot {
      &::before,
      &::after {
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        display: flex;
        position: absolute;
        margin-left: -2px;
        background-color: var(--textColor);
      }

      &::after {
        animation: pulseDot 2.5s cubic-bezier(0.47, -0.2, 0.13, 1.35) infinite;
        transform-origin: center;
      }
    }
  }

  .blog-view__artice {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 175px 0;
    overflow: auto;
  }

  .blog-view__list {
    position: relative;
    z-index: 1;
    display: flex;
    height: 100vh;
    opacity: 1;
    transition: all 2s;
    &.hide {
      opacity: 0;
      transform-origin: top;
      transform: translateY(-90%);
      .list {
        overflow: hidden;
      }
    }

    .type {
      padding: 175px 0 0 90px;
      margin-top: 15px;
      li {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 30px;
        font-size: 18px;
        i {
          font-style: normal;
          font-size: 12px;
          font-weight: normal;
        }

        &.active {
          span {
            border-bottom: 1px solid var(--textColor);
          }
        }
      }
    }
    .socialicons {
      a {
        margin-right: 30px;
        transform: scale(1);
        transition: all 0.18s ease;

        color: var(--textColor);

        &:hover {
          color: var(--mainColor);
          transform: scale(1.12);
        }
      }
    }
    .list {
      padding: 175px 0;
      padding-left: 235px;
      flex: 1;
      overflow-y: auto;

      .page-title {
        margin-bottom: 100px;
      }
    }

    .blog-list {
      width: 80%;

      li {
        list-style: none;
        opacity: 0;
        transition: 0.6s ease 0.2s;
        &.show {
          opacity: 1;
          transform: translateY(-10%);
        }

        &:hover {
          .item {
            transform: translateX(20px);
            .title {
              color: var(--mainColor);
            }
            &::after {
              left: 0;
              width: 100%;
            }
          }
        }
      }
      .item {
        position: relative;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid var(--lineColor);
        padding: 60px 0;

        transition: 0.25s ease;

        &::after {
          content: '';
          position: absolute;
          height: 1px;
          bottom: 0;
          width: 0%;
          transition: 1s ease-in-out;
          background-color: var(--mainColor);
        }

        .time {
          font-size: 14px;
          position: relative;
          margin-bottom: 40px;

          span {
            margin: 0 10px;
          }
        }

        .title {
          font-size: 24px;
          margin: 0;
          position: relative;
          color: var(--mainColor);
        }
      }
    }
  }
}
