:root,
[data-color-mode='light'] {
  --textColor: #6B7AA1;
  --mainColor: #11324D;
  --bgColor: #fff;
  --lineColor: #e6e6e6;
}

[data-color-mode='dark'] {
  --textColor: #a2a2a2;
  --mainColor: #fff;
  --bgColor: #151515;
  --lineColor: #313131;
}

@import 'rest.less';
@import 'layout.less';
@import 'keyframes.less';
@import 'markdown.less';

html,
body,
a {
  cursor: none !important;
}
.cursor {
  --cursor: #c3c8de;
  position: fixed;
  top: -50px;
  z-index: 99;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: none;
  border: solid 2px var(--cursor);
  pointer-events: none;
  transition: transform 0.3s ease, background 0.3s ease, border-color 0.3s ease,
    opacity 0.3s ease;

  &.hover {
    mix-blend-mode: difference;
    transform: scale(1.5);
    cursor: none;
    background: #fff;
    border-color: #fff;
  }
  &.click {
    transform: scale(4);
    opacity: 0;
  }
}

.mao {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: -3px;
  right: 30px;
  z-index: 10;
  color: var(--mainColor);

  .eyes {
    background: #fff;
    width: 26px;
    height: 15px;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: -1;
  }
}

#maskMove {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 6;
  background: var(--bgColor);
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: inset(100vh 0 0 0);

  &.show {
    clip-path: inset(0 0 0 0);
    transition: 0.4s ease-in-out;
  }
  &.hide {
    transition: 0.3s 0.4s ease-in-out;
    clip-path: inset(0 0 100vh 0);
  }
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: var(--mainColor);
    margin-top: 40px;
    letter-spacing: 10px;
  }
}

html {
  --path-fill-1: url(#gradient1);
  --path-fill-2: url(#gradient2);
  --path-fill-3: var(--bgColor);
}

html,
body {
  font-family: 'calibre bold';
  font-size: 22px;
  min-height: 100vh;
  color: var(--textColor);
  background: var(--bgColor);
}
body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.sectionheader {
  line-height: 1.4;

  h3 {
    font-family: 'Calibre bold';
    font-size: 64px;
    margin: 0;
    font-weight: 600;
    color: var(--mainColor);
  }

  p {
    margin-top: 24px;
    font-size: 26px;
    line-height: 1.6;
  }
}

.project {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 80px;
  overflow: hidden;
  transform: scale(1);
  transition: transform 0.18s ease;
  border-radius: 8px;
  color: #fff;
  margin-top: 32px;

  &:nth-of-type(1) {
    margin-top: 0;
  }

  &.module1 {
    background-color: #E7E0C9 ;
  }

  &.module2 {
    background-color: #C1CFC0;
  }
  &.module3{
    background-color: #6B7AA1;
  }

  &:hover {
    transform: scale(1.02);
  }

  .info {
    h4 {
      font-size: 44px;
    }

    p {
      margin-top: 20px;
      opacity: 0.8;
    }
  }
}

.opensource {
  margin-top: 124px;

  .sectionheader {
    p {
      font-size: 26px;
      line-height: 1.5;
      margin-top: 24px;
    }
  }

  .splitter {
    margin-top: 72px;
  }

  h3 {
    font-size: 64px;
  }

  .pulse {
    animation: pulse 0.65s ease-in-out infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }

    60% {
      transform: scale(1.14);
    }

    80% {
      transform: scale(0.94);
    }

    100% {
      transform: scale(1);
    }
  }
}

.osproject {
  padding: 48px 0;
  position: relative;

  & + & {
    border-top: 1px solid var(--lineColor);
  }

  h5 {
    font-size: 32px;
    color: var(--mainColor);
  }

  p {
    color: var(--textColor);
    font-weight: 400;
    margin-bottom: 24px;
    font-size: 22px;
    font-family: 'calibre';
  }
}

.talk {
  @keyframes pulseDot {
    0% {
      transform: scale(1);
      opacity: 0.48;
    }

    100% {
      transform: scale(5);
      opacity: 0;
    }
  }

  h4 {
    position: relative;
    display: inline;

    &::before,
    &::after {
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      display: flex;
      position: absolute;
      bottom: 5px;
      right: -10px;
      background-color: #fff;
    }

    &::after {
      animation: pulseDot 2.5s cubic-bezier(0.47, -0.2, 0.13, 1.35) infinite;
      transform-origin: center;
    }
  }
}

.body {
  padding-top: 175px;
  padding-bottom: 157px;
  min-height: 100%;
  box-sizing: border-box;
}

.blog {
  .type {
    position: fixed;
    left: 80px;
    top: 265px;

    li {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 30px;

      i {
        font-style: normal;
        font-size: 14px;
        font-weight: normal;
      }

      &.active {
        span {
          border-bottom: 1px solid var(--textColor);
        }
      }
    }
  }
}

.blog-list {
  width: 80%;

  li {
    list-style: none;
    opacity: 0;
    transition: 0.6s ease 0.2s;
    &.show {
      opacity: 1;
      transform: translateY(-10%);
    }

    &:hover {
      .item {
        transform: translateX(20px);
        .title {
          color: var(--mainColor);
        }
        &::after {
          left: 0;
          width: 100%;
        }
      }
    }
  }
  .item {
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--lineColor);
    padding: 60px 0;

    transition: 0.25s ease;

    &::after {
      content: '';
      position: absolute;
      height: 1px;
      bottom: 0;
      right: 0;
      width: 0%;
      transition: 1s ease-in-out;
      background-color: var(--mainColor);
    }

    .time {
      font-size: 16px;
      position: relative;
      margin-bottom: 40px;

      span {
        margin: 0 10px;
      }
    }

    .title {
      font-size: 24px;
      font-family: 'calibre bold';
      margin: 0;
      position: relative;
      color: var(--mainColor);
    }
  }
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;

  .topbar {
    padding: 40px 80px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;

    .logo {
      font-family: 'calibre bold';
      height: 30px;
      overflow: hidden;

      a {
        font-weight: bold;
        position: relative;
        display: block;
        color: var(--mainColor);
      }
    }

    .menutoggle {
      width: 40px;
      height: 40px;
      position: fixed;
      right: 80px;
      top: 35px;

      z-index: 15;
      transition: all 0.4s ease;

      &.open {
        span {
          i {
            background: var(--mainColor);
          }

          &:nth-of-type(1) {
            transform: rotate(45deg);

            i {
              width: 60%;
              transform: translate(-50%, 5px);
            }
          }

          &:nth-of-type(2) {
            transform: rotate(-45deg);

            i {
              transform: translate(-50%, -5px);
            }
          }
        }
      }

      span {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: ease all 0.4s;
        transform: rotate(-180deg);

        i {
          width: 60%;
          height: 3px;
          position: absolute;
          display: block;
          background: currentColor;
          transition: ease all 0.4s 0.1s;
          left: 50%;
          transform: translateX(-50%);
        }

        &:nth-of-type(1) {
          transform: rotate(-180deg);

          i {
            width: 30%;
            top: 35%;
            transform: translateX(-90%);
          }
        }

        &:nth-of-type(2) {
          i {
            bottom: 35%;
          }
        }
      }
    }
  }

  .nav-wrap {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 12;
  }

  .menu {
    position: absolute;
    z-index: 11;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    justify-content: center;

    &.open {
      a {
        &:nth-of-type(1) {
          animation: nav-menu 0.6s 1.1s 1;
          animation-fill-mode: forwards;
        }

        &:nth-of-type(2) {
          animation: nav-menu 0.6s 1.3s 1;
          animation-fill-mode: forwards;
        }
      }

      .splitter {
        animation: nav-split 0.6s 0.8s 1;
        animation-fill-mode: forwards;
      }
    }

    a {
      position: relative;
      width: fit-content;
      color: var(--mainColor);
      display: flex;
      font-size: 36px;
      line-height: 44px;

      opacity: 0;

      & + a {
        margin-top: 40px;
      }

      &:hover {
        span {
          left: 24px;
        }

        .arrow {
          padding-left: 32px;
          opacity: 1;
        }
      }

      &.active {
        span {
          animation: nav-menu-click 0.8s 0s 1;
          animation-fill-mode: forwards;
        }

        .arrow {
          animation: nav-menu-click 0.4s 0s 1;
          animation-fill-mode: forwards;
        }
      }

      span {
        position: relative;
        transition: left 0.14s ease-in-out;
        left: 0;
      }

      .arrow {
        display: flex;
        position: relative;
        padding-left: 16px;
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        transition: all 0.14s ease-in-out;
        transition-property: transform, padding-left, opacity;
        opacity: 0.32;
      }
    }

    .splitter {
      margin-bottom: 48px;
      position: relative;
      opacity: 0;

      &::before {
        content: ' ';
        margin-right: 12px;
        display: flex;
        width: 24px;
        height: 2px;
        background-color: var(--lineColor);
      }

      span {
        display: flex;
        font-size: 14px;
        flex-shrink: 0;
        margin-right: 16px;
        font-weight: 500;
        letter-spacing: 1.6px;
      }
    }
  }
}

.footer {
  padding: 64px 80px;
  display: flex;
  font-size: 12px;
  justify-content: space-between;

  .status {
    font-size: 16px;
  }
  .socialicons {
    a {
      margin-right: 30px;
      transform: scale(1);
      transition: all 0.18s ease;

      color: var(--textColor);

      &:hover {
        color: var(--mainColor);
        transform: scale(1.12);
      }
    }
  }
}

.scroll-view {
  position: fixed;
  bottom: 10%;
  left: 80px;
  width: 2px;
  height: 50px;
  background-color: var(--lineColor);
  z-index: 1;

  i {
    width: 12px;
    height: 12px;
    background-color: var(--mainColor);
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: scroll 2s ease-in-out infinite;
  }

  @keyframes scroll {
    0% {
      top: 0;
      opacity: 0;
    }
    10% {
      top: 0;
      opacity: 1;
    }
    50% {
      opacity: 1;
      top: 48px;
    }
    70% {
      opacity: 0;
      top: 48px;
    }
    100% {
      opacity: 0;
      top: 48px;
    }
  }
}
