@import 'rest.less';
@import 'layout.less';
@import 'keyframes.less';
@import 'md.less';

html,
body {
  font-family: 'calibre bold';
  font-size: 22px;
  height: 100vh;
  overflow: hidden;
  color: #FFF;
}

#app {
  height: 100%;
}

.sectionheader {
  line-height: 1.4;
  

  h3 {
    font-family: "Calibre bold";
    font-size: 64px;
    margin: 0;
    font-weight: 600;
  }

  p {
    margin-top: 24px;
    font-size: 26px;
    line-height: 1.6;
  }
}

.project {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 80px;
  overflow: hidden;
  transform: scale(1);
  transition: transform .18s ease;
  border-radius: 8px;
  color: #FFF;
  margin-top: 32px;

  &:nth-of-type(1) {
    margin-top: 0;
  }

  &.black {
    background-color: #000;
  }

  &.blue {
    background-color: #30f;
  }

  &:hover {
    transform: scale(1.02);
  }

  .info {
    h4 {
      font-size: 44px;
    }

    p {
      margin-top: 20px;
      color: fade(#FFF, 80%);
    }
  }
}

.opensource {
  margin-top: 124px;

  .sectionheader {

    p {
      font-size: 26px;
      line-height: 1.5;
      margin-top: 24px;
    }

  }

  .splitter {
    margin-top: 72px;
  }

  h3 {
    font-size: 64px;
  }

  .pulse {
    animation: pulse .65s ease-in-out infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }

    60% {
      transform: scale(1.14);
    }

    80% {
      transform: scale(0.94);
    }

    100% {
      transform: scale(1);
    }
  }
}

.osproject {
  padding: 48px 0;
  position: relative;

  &+& {
    border-top: 1px solid #efefef;
  }

  h5 {
    font-size: 32px;
  }

  p {
    color: #1b1b1b;
    font-weight: 400;
    margin-bottom: 24px;
    font-size: 22px;
    font-family: "calibre";
  }
}

.talk {
  @keyframes pulseDot {
    0% {
      transform: scale(1);
      opacity: 0.48;
    }

    100% {
      transform: scale(5);
      opacity: 0;
    }
  }

  h4 {
    position: relative;
    display: inline;

    &::before,
    &::after {
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      display: flex;
      position: absolute;
      bottom: 5px;
      right: -10px;
      background-color: #FFF;
    }

    &::after {
      animation: pulseDot 2.5s cubic-bezier(.47, -.2, .13, 1.35) infinite;
      transform-origin: center;
    }
  }

}


.body {
  padding-top: 175px;
  padding-bottom: 157px;
  min-height: 100%;
  box-sizing: border-box;
}



.blog-list{
  margin-top: 100px;
  width: 100%;
  li{
    margin-bottom: 50px;
    position: relative;
    display: flex;
    align-items: flex-end;

    .time{
      position: relative;
      margin-right: 50px;
      width: 77px;

      .year{
        font-size: 12px;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        letter-spacing: 4px;
      }
      .day{
        font-size: 72px;
      }
    }

    .title{
      font-size: 56px;
      font-family: 'calibre bold';
      margin: 0;
      font-weight: 600;
      cursor: pointer;
      position: relative;   
      perspective: 400px;

      span{
        font-weight: 600;
        font-family: 'calibre bold';
      }
    }
  }
}





html {
	width:100%;
	height:100%;
	--color-text: #120047;
	--color-bg: #333;
	--color-link: #f2f2f2;
	--color-link-hover: #f2f2f2;
	--color-info: #fff;
	--path-fill-1: url(#gradient1);
	--path-fill-2: url(#gradient2);
	--path-fill-3: url(#gradient3);
	--color-title: inherit;
	--font-size-title: 8vmax;
	--color-menu: #ffffff;
	--color-menu-hover: #ffffff;
	--font-size-menu: 3.5vmax;
	--button-line: #ffffff;
}

body {
	min-height: 100vh;
	background:#000;
	width:100%;
	height:100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Color schemes background:transparent; */

.mainbox{width:100%;height:100%;}




.global-menu__wrap {
	width:97%;
	overflow:hidden;
	margin-left:3%;
	height:100%;
	padding-top:14vh;
	}
.global-menu__item {
	color:#fff;
	font-size: 14px;
	width:100%;
	min-height:46px;
	height:5.5vh;
	line-height:46px;
	opacity: 0;
	letter-spacing:10px;
	transform: translateY(-100%);
	pointer-events: none;
	display: block;
	margin: 0.25em 0;
	transition: transform 0.3s, opacity 0.3s;
	transition-timing-function: ease-in;
}

.global-menu__item--demo-2:nth-child(odd) {
	transform: translateY(-100%) rotate(10deg);
}

.global-menu__item--demo-2:nth-child(even) {
	transform: translateY(-100%) rotate(-10deg);
}

.global-menu__item--demo-3 {
	transition: transform 0.1s, opacity 0.1s;
	transform: translateY(100%);
	transition-timing-function: ease-out;
}

.global-menu__item--demo-4,
.global-menu__item--demo-5 {
	transition: transform 0.1s, opacity 0.1s;
	transition-timing-function: ease-out;
}

.global-menu__item--demo-4 {
	transform: translateX(40%);
}

.global-menu__item--demo-5:nth-child(odd) {
	transform: translateX(100%) rotate(10deg) scale(0.5);
}

.global-menu__item--demo-5:nth-child(even) {
	transform: translateX(100%) rotate(-10deg) scale(0.5);
}

.global-menu__item--demo-6 {
	transform: translateY(100%);
}

.global-menu__item:hover {
	color: var(--color-menu-hover);
}

.global-menu__item.is-opened {
	opacity: 1;
	transform: translateY(0) rotate(0);
	pointer-events: auto;
	transition-timing-function: ease;
}

.global-menu__item--demo-4.is-opened,
.global-menu__item--demo-5.is-opened {
	transform: translateX(0) rotate(0);
}

.global-menu__item--demo-4.is-opened {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.355, 1.400);
}

.global-menu__item:nth-of-type(1) {
	transition-delay: 0s;
}

.global-menu__item.is-opened:nth-of-type(1) {
	transition-delay: 0.85s;
}

.global-menu__item:nth-of-type(2) {
	transition-delay: 0.05s;
}

.global-menu__item.is-opened:nth-of-type(2) {
	transition-delay: 0.8s;
}

.global-menu__item:nth-of-type(3) {
	transition-delay: 0.1s;
}

.global-menu__item.is-opened:nth-of-type(3) {
	transition-delay: 0.75s;
}

.global-menu__item:nth-of-type(4) {
	transition-delay: 0.15s;
}

.global-menu__item.is-opened:nth-of-type(4) {
	transition-delay: 0.7s;
}



/* demo 6 */
.global-menu__item--demo-6.is-opened {
	transition-duration: 0.8s;
}

.global-menu__item--demo-6:nth-of-type(1) {
	transition-delay: 0.25s;
}

.global-menu__item--demo-6.is-opened:nth-of-type(1) {
	transition-delay: 1s;
}

.global-menu__item--demo-6:nth-of-type(2) {
	transition-delay: 0.2s;
}

.global-menu__item--demo-6.is-opened:nth-of-type(2) {
	transition-delay: 1.1s;
}

.global-menu__item--demo-6:nth-of-type(3) {
	transition-delay: 0.15s;
}

.global-menu__item--demo-6.is-opened:nth-of-type(3) {
	transition-delay: 1.2s;
}

.global-menu__item--demo-6:nth-of-type(4) {
	transition-delay: 0.1s;
}

.global-menu__item--demo-6.is-opened:nth-of-type(4) {
	transition-delay: 1.3s;
}

.global-menu__item--demo-6:nth-of-type(5) {
	transition-delay: 0.1s;
}

.global-menu__item--demo-6.is-opened:nth-of-type(5) {
	transition-delay: 1.4s;
}

.global-menu__item--demo-6:nth-of-type(6) {
	transition-delay: 0.1s;
}

.global-menu__item--demo-6.is-opened:nth-of-type(6) {
	transition-delay: 1.5s;
}

.global-menu__item--demo-6:nth-of-type(7) {
	transition-delay: 0.1s;
}

.global-menu__item--demo-6.is-opened:nth-of-type(7) {
	transition-delay: 1.6s;
}

.global-menu__item--demo-6:nth-of-type(8) {
	transition-delay: 0.1s;
}

.global-menu__item--demo-6.is-opened:nth-of-type(8) {
	transition-delay: 1.7s;
}




.shape-overlays {
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	
}

.shape-overlays.is-opened {
	pointer-events: auto;
	
}

.shape-overlays__path:nth-of-type(1) {
	fill: var(--path-fill-1);
}

.shape-overlays__path:nth-of-type(2) {
	fill: var(--path-fill-2);
}
.shape-overlays__path:nth-of-type(3) {
	fill: var(--path-fill-3);
}

.shape-overlays__path:nth-of-type(4) {
	fill: var(--path-fill-4);
}

@-webkit-keyframes intervalHamburgerBorder {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	80% {
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
}

@keyframes intervalHamburgerBorder {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	80% {
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
}

.hamburger {
	width: 106px;
	height: 24px;
	display: block;
	position: relative;
	cursor: pointer;
	position: absolute;
	top: 50px;
	left: 3%;
	z-index: 110;
	pointer-events: auto;
}
.menutext {
	height:100%;
	line-height:100%;
	width:100%;
	letter-spacing:10px;
	float:right;
	font-size:14px;
	text-align:right;
	color:#ffffff;
	}
.hamburger::after {
	width: 130px;
	height: 24px;
	box-sizing: border-box;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

.hamburger__line {
	width: 28px;
	height: 3px;
	overflow: hidden;
	position: absolute;
	z-index: 10;
}

.hamburger__line-in {
	width: 84px;
	height: 3px;
	position: absolute;
	top: 0;
	left: 0;
}

.hamburger__line-in::before,
.hamburger__line-in::after {
	width: 28px;
	height: 3px;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	background-color: var(--button-line);
}

.hamburger__line-in::before {
	left: -56px;
}

.hamburger__line-in::after {
	left: 0;
}

.hamburger__line--01,
.hamburger__line--02,
.hamburger__line--03,
.hamburger__line--cross01,
.hamburger__line--cross02 {
	left: 0px;
}

.hamburger__line--01 {
	top: 0px;
}

.hamburger__line--02,
.hamburger__line--cross01,
.hamburger__line--cross02 {
	top: 8px;
}

.hamburger__line--03 {
	top: 13px;
}

.hamburger__line--cross01 {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.hamburger__line--cross02 {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.hamburger__line {
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger__line-in {
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger__line-in::before,
.hamburger__line-in::after {
	-webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
}

.hamburger__line-in--cross01,
.hamburger__line-in--cross02 {
	-webkit-transform: translateX(-33.3%);
	transform: translateX(-33.3%);
}

.hamburger__line-in--01 {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.hamburger__line-in--02 {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}

.hamburger__line-in--02::before,
.hamburger__line-in--02::after {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.hamburger__line-in--03 {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.hamburger__line-in--03::before,
.hamburger__line-in--03::after {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hamburger__line-in--cross01 {
	-webkit-transition-delay: 0.0s;
	transition-delay: 0.0s;
}

.hamburger__line-in--cross02 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.hamburger__line-in--cross02::before,
.hamburger__line-in--cross02::after {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hamburger.is-opened-navi .hamburger__line-in--01,
.hamburger.is-opened-navi .hamburger__line-in--02,
.hamburger.is-opened-navi .hamburger__line-in--03 {
	-webkit-transform: translateX(33.3%);
	transform: translateX(33.3%);
}

.hamburger.is-opened-navi .hamburger__line-in--cross01,
.hamburger.is-opened-navi .hamburger__line-in--cross02 {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.hamburger.is-opened-navi .hamburger__line-in--01 {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.hamburger.is-opened-navi .hamburger__line-in--02 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.hamburger.is-opened-navi .hamburger__line-in--03 {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hamburger.is-opened-navi .hamburger__line-in--cross01 {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}

.hamburger.is-opened-navi .hamburger__line-in--cross02 {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.hamburger:hover .hamburger__line-in::before,
.hamburger:hover .hamburger__line-in::after {
	-webkit-transform: translateX(200%);
	transform: translateX(200%);
}

.hamburger:hover .hamburger__line-in--01::before,
.hamburger:hover .hamburger__line-in--01::after,
.hamburger:hover .hamburger__line-in--02::before,
.hamburger:hover .hamburger__line-in--02::after,
.hamburger:hover .hamburger__line-in--03::before,
.hamburger:hover .hamburger__line-in--03::after {
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

.hamburger:hover .hamburger__line-in--cross01::before,
.hamburger:hover .hamburger__line-in--cross01::after,
.hamburger:hover .hamburger__line-in--cross02::before,
.hamburger:hover .hamburger__line-in--cross02::after {
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}

.hamburger.is-opened-navi:hover .hamburger__line-in--cross01::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross01::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross02::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross02::after {
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

.hamburger.is-opened-navi:hover .hamburger__line-in--01::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--01::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--02::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--02::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--03::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--03::after {
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}


