.blog-doc {
    margin: 120px 0 152px;
    width: 100%;

    &>h1 {
        font-family: "Calibre bold";
        font-size: 56px;
        margin: 0;
        font-weight: 600;
    }
    &>h2 {
        font-family: "Calibre bold";
        font-size: 36px;
        margin-top: 30px;
        font-weight: 600;
    }
    &>h3 {
        font-family: "Calibre bold";
        font-size: 64px;
        margin: 0;
        font-weight: 600;
    }

    &>blockquote>p {
        margin-top: 24px;
        font-size: 20px;
        line-height: 1.6;
    }
    &>p{
        margin-top: 15px;
        font-size: 18px;
        line-height: 1.5;
    }

    pre.hljs-pre{
        // border-radius: 15px;
        // overflow: hidden;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}